.progress,sub,sup{vertical-align:baseline}
.block,.elem-left,.elem-right,article,aside,details,figcaption,figure,footer,header,hr,main,menu,nav,section,summary{display:block}
hr,sub,sup{position:relative}
body,figure{margin:0}
button,hr,input,select{overflow:visible}
[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;font-size:100%}
audio,canvas,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:0 0 .67em}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:60%;line-height:0}
sub{bottom:-.25em}
sup{top:-.45em}
img{border-style:none}
svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;border:0}
button,input,select,textarea{font:inherit;line-height:initial;margin:0}
optgroup{font-weight:700}
button,select{text-transform:none}
[type=button],[type=reset],[type=submit],button{cursor:pointer}
[disabled]{cursor:default}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button;-moz-appearance:button;appearance:button;border:0}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;white-space:normal}
textarea{overflow:auto}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
*,::after,::before{box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.clearfix:after,.clearfix:before{display:table;content:" "}
.clearfix:after{clear:both}
address{font-style:normal!important}
img{max-width:100%;display:block;margin:0 auto}
.icon-gplus:before{margin-left:-1px!important}
.page_index main,.page_index>hr{display:none!important}
#banner,#fixed-tabs,#header,.btn,.btn-alt,.btn-alt:before,.btn:before,::after,::before,a,article,figure,h1,h2,h3,h4,h5,h6,img,li{transition:all .2s}
i{display:inline}
*,::after,::before{box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
[class*=" icon-"]:before,[class^=icon-]:before{line-height:1!important;display:block!important}
.clearfix:after,.clearfix:before{display:table;content:" "}
.clearfix:after{clear:both}
.shadow{box-shadow:0 0 3px #000}
img{max-width:100%}
.btn,a{cursor:pointer}
header{z-index:99}
footer{z-index:100}
.animated{animation-duration:2s;animation-fill-mode:both}
@keyframes slideIn{
from{transform:translate3d(0,-100%,0)}
to{transform:translate3d(0,0,0)}
}
.animated{animation-duration:1s;animation-fill-mode:both}
.animated.infinite{animation-iteration-count:infinite}
.pulse{animation-name:pulse}
@keyframes pulse{
from{transform:scale3d(1,1,1)}
50%{transform:scale3d(1.05,1.05,1.05)}
to{transform:scale3d(1,1,1)}
}
.fadeIn{animation-name:fadeIn}
@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}
.fadeInDown{animation-name:fadeInDown}
@keyframes fadeInDown{
from{opacity:0;transform:translate3d(0,-100%,0)}
to{opacity:1;transform:none}
}
.fadeInLeft{animation-name:fadeInLeft}
@keyframes fadeInLeft{
from{opacity:0;transform:translate3d(-100%,0,0)}
to{opacity:1;transform:none}
}
.fadeInRight{animation-name:fadeInRight}
@keyframes fadeInRight{
from{opacity:0;transform:translate3d(100%,0,0)}
to{opacity:1;transform:none}
}
.fadeInUp{animation-name:fadeInUp}
@keyframes fadeInUp{
from{opacity:0;transform:translate3d(0,100%,0)}
to{opacity:1;transform:none}
}
.fadeOut{animation-name:fadeOut}
@keyframes fadeOut{
from{opacity:1}
to{opacity:0}
}
.zoomIn{animation-name:zoomIn}
@keyframes zoomIn{
from{opacity:0;transform:scale3d(.3,.3,.3)}
50%{opacity:1}
}
.slideInDown{animation-name:slideInDown}
@keyframes slideInDown{
from{transform:translate3d(0,-100%,0);visibility:visible}
to{transform:translate3d(0,0,0)}
}
.slideInLeft{animation-name:slideInLeft}
@keyframes slideInLeft{
from{transform:translate3d(-100%,0,0);visibility:visible}
to{transform:translate3d(0,0,0)}
}
.slideInRight{animation-name:slideInRight}
@keyframes slideInRight{
from{transform:translate3d(100%,0,0);visibility:visible}
to{transform:translate3d(0,0,0)}
}
.slideInUp{animation-name:slideInUp}
@keyframes slideInUp{
from{transform:translate3d(0,100%,0);visibility:visible}
to{transform:translate3d(0,0,0)}
}
.col-flex-ed,.flex-ed{display:flex}
.flex-ed{flex-direction:row}
.col-flex-ed{flex-flow:column}
star{line-height:1.5;margin:7px auto;display:block}
star:after{font-size:26px;font-family:fontello;font-weight:400;margin:0;font-style:normal;content:"\e80f\e80f\e80f\e80f\e80f";color:#fcd800;padding:0 10px}
[class*=flex]{display:flex}
[class*=row]{flex-flow:row wrap}
.youtube{position:relative;cursor:pointer;width:100%;font-size:0}
.youtube[class*=elem-]{width:440px}
.youtube:after,.youtube:before{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.youtube:before{content:"";background-color:#fff;width:40px;height:40px}
.youtube:after{font-size:70px;color:#4d4d4d;font-family:fontello;font-weight:400;margin:0;font-style:normal;content:"\e80e"}
.youtube:hover:after{color:red}
.youtube.active:after,.youtube.active:before{display:none}
[data-embed],[data-player],[data-vimeo]{position:relative}
[data-embed] video,[data-player] video,[data-vimeo] video{width:100%}
[data-player][class^=elem]{position:relative;min-width:460px}
.yt-play{cursor:pointer;position:absolute;top:42%;left:50%;transform:translate(-50%,-50%);font-size:70px;color:red;font-family:fontello;font-weight:400;margin:0;font-style:normal;content:"\e80e"}
.yt-play:hover{color:#4d4d4d}
@font-face{font-family:Chalkduster;src:url(Chalkduster.ttf)}
@font-face{font-family:Bradley;src:url(BRADHITC.TTF)}
#fixed-tabs{position:fixed;bottom:0;right:0;width:100%;text-align:center;line-height:1;z-index:1000;display:flex}
#fixed-tabs a{font-size:15px;color:#000;font-weight:700;text-transform:uppercase;padding:14px 0;flex:0 1 25%;font-family:neue-haas-grotesk-text,sans-serif}
#fixed-tabs .map{background-color:#000}
#fixed-tabs .call{background-color:#223853;color:#000}
#fixed-tabs .ra{flex:0 1 50%;background-color:#26b0a5;color:#000!important}
#fixed-tabs .call,#fixed-tabs .map,#fixed-tabs .ra{color:#fff}
@media (min-width:1031px){
#fixed-tabs{display:none}
}
@media (max-width:1030px){
#fixed-tabs i{display:inline-block;font-size:16px;display:inline-block;margin-right:5px}
footer{margin-bottom:42px!important}
}
@media (max-width:600px){
#fixed-tabs strong{display:none}
}
body{overflow-x:hidden;position:relative;background:#fff;text-align:center;color:#000;font:400 18px/26px neue-haas-grotesk-text,sans-serif}
p{color:#000;font:400 18px/1.6 neue-haas-grotesk-text,sans-serif;letter-spacing:.36px}
a{display:inline-block;text-decoration:none;cursor:pointer;color:#223853}
a:hover{color:#223853}
h1,h2 h3,h4,h5,h6{font-family:Chalkduster,sans-serif;text-align:center}
h1{margin:0;color:#223853;font:400 50px/1.3 neue-haas-grotesk-text,sans-serif;letter-spacing:1.1px}
h1 small{font-size:30px;letter-spacing:.75px}
h1 span{font:400 75px/1 neue-haas-grotesk-text,sans-serif;color:#fff;display:block;letter-spacing:0}
h2{font:normal 142px/1.1 neue-haas-grotesk-text,sans-serif;color:#223853;margin:10px 0}
h2 span{font-family:neue-haas-grotesk-text,sans-serif;font-weight:400;font-size:88px!important}
.h3,h3{font:700 30px/1 neue-haas-grotesk-text,sans-serif;color:#223853;margin:15px auto 10px;letter-spacing:.75px;line-height:1.2}
main ul{list-style:none;padding:0;margin:10px auto;text-align:left;display:table}
main ul li{position:relative;padding-left:35px;font-size:24px;line-height:1.2;margin:10px auto}
main ul li:before{content:"\e832";font-family:fontello;position:absolute;left:0;top:0;color:#f8da24}
.container{max-width:1442px;margin:auto}
.play{cursor:pointer;border:none;background-color:transparent;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;color:#000;font:700 15px/1 Chalkduster,sans-serif,sans-serif;text-transform:uppercase;letter-spacing:1.5px;text-align:center;transition:.3s all}
.play i{width:50px;height:50px;border-radius:50%;background-color:#fff;display:block;color:#000;display:inline-flex;align-items:center;justify-content:center;font-size:25px;margin:10px;transition:.3s all}
.play i:before{margin:auto;padding-left:5px}
.play:hover{color:#223853}
.play:hover i{background-color:#223853;color:#fff}
[data-embed] .close,[data-vimeo] .close{cursor:pointer;line-height:1;background-color:#26b0a5;color:#fff;padding:8px;text-transform:uppercase;z-index:5;position:absolute;top:0;right:0;min-width:160px}
[data-embed] .close i,[data-vimeo] .close i{font-style:normal;font-size:1.25em;line-height:1;vertical-align:middle;display:inline-block;margin-bottom:5px}
[data-embed] .close:focus,[data-vimeo] .close:focus{background-color:#1d867e}
[data-embed] .close:hover,[data-vimeo] .close:hover{background-color:#1b1b1b;color:#fff}
[data-embed] .close i:before{transform:rotate(45deg)}
.btn,.btn-alt{position:relative;display:inline-block;cursor:pointer;padding:15px 20px;text-align:center;color:#fff;background-color:#26b0a5;min-width:250px;font:700 13px/1.1 Chalkduster,sans-serif;border-radius:6px;letter-spacing:1.8px}
.btn span,.btn-alt span{display:block;font-size:27px;letter-spacing:2.9px;margin-bottom:2px}
.btn-alt:hover,.btn:hover{background-color:#000;color:#fff}
.phone{color:#26b0a5;font:700 30px/30px neue-haas-grotesk-text,sans-serif;display:block;letter-spacing:.5px}
.phone:hover{color:#26b0a5!important}
.phone span{display:block;color:#000;font-size:18px}
header{position:relative;padding:40px 15px;z-index:100;background-color:#dfdbd8}
header #nav{position:relative;display:flex;max-width:1400px;justify-content:right;margin:auto;align-items:center;padding:2px}
header #nav a{color:#000}
header #nav a:not(.logo){margin:0 50px}
header #nav a i{font-size:20px;color:#fff}
header #nav a i:before{padding:7px;width:35px;height:35px;background-color:#26b0a5;border-radius:50%;display:flex!important;justify-content:center;align-items:center}
header #nav a.btn{padding:5px 20px;border-radius:40px;color:#fff;font-size:24px;font-family:neue-haas-grotesk-text,sans-serif;padding-right:25px}
header #nav a.btn:hover{background-color:#223853;color:#fff}
header #nav a.btn i{color:#26b0a5}
header #nav a.btn i:before{background-color:#fff}
header #nav>*{display:flex;align-items:center;gap:10px}
header #nav .logo{margin:0;position:absolute;top:0;left:0}
header .phone{font-size:32px}
header .phy{font-size:22px;color:#000!important;line-height:1.26;font-weight:400}
header .phy:hover{color:#26b0a5!important}
.fix-nav header{padding:15px;filter:drop-shadow(0 3px 6px rgba(0, 0, 0, .16));position:fixed;width:100%;left:0;top:0;right:0;animation-duration:.8s;animation-fill-mode:both;animation-name:slideIn;z-index:10000;box-shadow:0 3px 7px rgba(0,0,0,.35)}
.fix-nav header #nav{justify-content:space-between}
.fix-nav header #nav a:not(.logo){margin:0}
.fix-nav header #nav .logo{max-height:120px;position:static;margin-bottom:0}
.fix-nav header #nav .logo img{max-height:120px;margin-bottom:0}
.big{font-size:26px;font-weight:400;letter-spacing:normal;font-family:neue-haas-grotesk-text,sans-serif}
.bg-1{padding:10px;background:url(assets/images/lp-back-to-school-top-bkg.jpg)}
.bg-2{background-color:#223853;padding:10px}
#future img{width:100%}
.smile .top{font-size:26px;font-weight:700;max-width:1300px;margin:30px auto 10px}
.smile .top h1{color:#fff;font:normal 160px/1 Chalkduster,sans-serif}
.smile .top h1 span{font-family:Bradley;display:block;margin-top:10px}
.smile .top h2{color:#000;font-size:36px;letter-spacing:-.02em;font-weight:500}
.smile .top #banner-flex{padding:20px 0}
.smile .top #banner-flex article{flex:0 1 60%}
.smile .top #banner-flex figure{flex:0 1 40%}
.smile .top #banner-flex .big{color:#fff;font-size:29px;line-height:normal;text-align:left}
.smile #categ{display:flex;flex-wrap:wrap;justify-content:space-evenly;align-items:center;max-width:1300px;margin:50px auto}
.smile #categ div:first-of-type article h2{color:#b7e5c7}
.smile #categ div:nth-of-type(2) article h2{color:#e5b7b7}
.smile #categ div:nth-of-type(3) article h2{color:#b7dce5}
.smile #categ div:nth-of-type(4) article h2{color:#beb7e5}
.smile #categ div article h2{font-size:50px;font-family:Chalkduster,sans-serif}
.smile #categ div article h3{font-family:neue-haas-grotesk-text,sans-serif;font-weight:400;color:#fff}
.smile #categ div figure{margin-bottom:25px}
.smile .content{max-width:1260px;margin:60px auto;background-color:#f0f0f0}
.smile .content .call{padding:40px 10px;display:flex;align-items:center;justify-content:space-around;background-color:#fff}
.smile .content .call article{flex:0 1 730px}
.smile .content .call article p{font-weight:400;font-size:47px;padding:10px;color:#000;font-family:neue-haas-grotesk-text,sans-serif;text-align:left;letter-spacing:-.02em;line-height:60px}
.smile .content .call article a{color:#26b0a5}
.smile .content .call article a:hover{color:#223853}
.smile .content .call figure{flex:0 0 400px;position:relative}
.smile .content .call figure figcaption{background-color:rgba(255,255,255,.7);bottom:0;position:absolute;text-transform:uppercase;padding:2px 15px;font-weight:600;font-size:18px;width:100%;font-family:neue-haas-grotesk-text,sans-serif}
.smile .form{background-color:#f0f0f0}
.smile .form form{max-width:100%;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;padding-bottom:50px;padding-top:50px}
.smile .form form>div{margin:5px 20px;flex:0 1 360px;gap:10px;display:grid}
.smile .form form>div .flex-ed{width:100%;justify-content:center}
.smile .form input,.smile .form textarea{background-color:#fff;height:55px;color:#000;font-size:18px;padding:10px;text-align:left}
.smile .form .input{display:block;text-align:left;margin-top:20px}
.smile .form input[type=checkbox]{height:30px;width:30px;display:inline-block;vertical-align:middle}
.smile .form input[type=checkbox]+label{font-size:15px;color:#000;margin-left:5px}
.smile .form .big-label{display:block;font-size:20px;font-weight:700;color:#000;text-align:left}
.smile .form .simple .btn{width:100%;text-transform:uppercase;font-family:neue-haas-grotesk-text,sans-serif;color:#fff}
.smile .form .simple .btn:hover{background-color:#223853}
.smile .form ::-webkit-input-placeholder{color:#000}
.smile .form :-moz-placeholder{color:#000}
.smile .form ::-moz-placeholder{color:#000}
.smile .form :-ms-input-placeholder{color:#000}
.smile .form textarea{height:130px;padding:15px;width:100%}
.smile .use-it-very-bottom-text{margin:80px auto 60px}
.smile .use-it-very-bottom-text .big{line-height:1.2;color:#fff!important;margin:0;font-weight:400;font-family:neue-haas-grotesk-text,sans-serif;font-size:40px}
footer :is(input,textarea){background-color:#f0f0f0!important}
footer{overflow:hidden;padding:40px 0 0;background-color:#292929}
footer h2{font:bold 40px/1.2 neue-haas-grotesk-text,sans-serif;color:#fff;text-align:center;margin:0 auto 20px;position:relative;padding-top:50px}
footer .split{justify-content:space-evenly;max-width:1400px;align-items:flex-start;margin:auto;margin-bottom:30px;display:flex;flex-wrap:wrap}
footer .split figure{margin-top:10px;flex:0 1 445px;color:#fff;padding:20px 0;display:flex;flex-wrap:wrap;justify-content:center}
footer .split figure>*{flex:100%;color:#fff;font-family:neue-haas-grotesk-text,sans-serif;font-size:18px;font-weight:400}
footer .split figure h3{text-transform:uppercase;font-size:20px;font-family:neue-haas-grotesk-text,sans-serif!important;color:#fff;font-weight:700}
footer .split figure .address{font-size:18px}
footer .split figure .address:hover{color:#26b0a5}
footer .split figure .frame{overflow:hidden;display:table;width:95%;margin:auto}
footer .split figure .frame iframe{border-radius:20px;height:360px;display:block;max-width:780px;margin:auto;width:100%}
figcaption{text-align:center;background:#000;text-transform:uppercase;padding:5px}
figcaption span{font-family:neue-haas-grotesk-text,sans-serif;font-weight:700;font-size:16px;color:#fff}
figcaption p{font:400 18px/1 Chalkduster,sans-serif;text-transform:uppercase;color:#fff}
figcaption strong{margin-top:0;font-weight:400;display:block;font-size:22px;font-family:Chalkduster,sans-serif;text-transform:uppercase;margin-bottom:0}
figcaption .address{color:#000;text-transform:uppercase;font-weight:700;letter-spacing:.15em;font-size:14px}
figcaption .address:hover{color:#26b0a5}
figcaption:hover p{color:#26b0a5}
.copy{margin-top:20px;padding:45px 10px;background-color:#292929;margin:auto;text-transform:none;font:400 18px/1.4 neue-haas-grotesk-text,sans-serif;color:#fff}
.copy a,.copy p{font:400 18px/1.4 neue-haas-grotesk-text,sans-serif;color:#fff;letter-spacing:.6px}
.copy a{color:#26b0a5}
.copy a:hover{color:#fff;text-decoration:underline}
.copy p{margin:20px auto;max-width:1090px}
.copy span:not(:first-of-type){margin:0 5px}
::-webkit-input-placeholder{color:#fff}
::-moz-placeholder{color:#fff}
:-ms-input-placeholder{color:#fff}
:-moz-placeholder{color:#fff}
@media (max-width:820px){
.ctm-call-widget{height:655px!important}
}
@media (min-width:820px){
.ctm-call-widget{height:500px!important}
}
@media (max-width:1300px){
#banner{background-position:10%}
footer .split{flex-wrap:wrap}
footer .split .frame iframe{display:none}
footer .split .frame iframe{display:none}
footer .split article{flex-basis:90%;align-items:center}
header .phy{display:none!important}
}
@media (max-width:1110px){
h1{font-size:40px}
h1 span{font-size:60px}
#banner article{flex:0 1 51%}
}
@media (min-width:1000px){
#mobile-btns{display:none!important}
}
@media (max-width:1000px){
header{padding:0}
header #nav{justify-content:center;padding:10px}
header #nav .logo{position:static}
header #nav a{margin:0!important}
header #nav .header-buttons{margin:0;order:0;flex:0 1 220px}
header #nav a.btn{display:none}
header #nav>*{gap:0}
.fix-nav header{padding:0}
.fix-nav header #nav{justify-content:center}
.phone{font-size:30px;margin:0}
.smile .top h1{font-size:120px}
.smile .use-it-very-bottom-text .big{font-size:32px}
h1 span{font-size:46px!important}
.bg-3{display:none}
.very-top{margin-top:-45px}
.use-it-top-image div figcaption{position:relative;margin:auto}
.smile .top{margin:0 auto 30px}
footer .split{max-width:none;padding:10px}
footer .split figure .frame{display:none}
footer article .phy:hover{color:#000!important}
.flex-ed{display:block}
p.big{text-align:center!important}
#mobile-phone{display:none!important}
footer article .phy{font-size:22px}
}
@media (max-width:890px){
#nav .header-buttons .btn,#nav .header-buttons .btn-alt{width:180px}
#nav .logo{max-width:350px}
}
@media (max-width:820px){
.ctm-call-widget{height:750px!important}
}
@media (min-width:820px){
.ctm-call-widget{height:535px!important}
}
@media (max-width:768px){
.factors .flex-row>div{flex-basis:100%}
.factors [class*=row] p{margin-bottom:0}
footer .form .btn,footer .form input,footer .form textarea{width:95%!important}
footer article .phone{font-size:40px}
footer .split article{flex:100%}
}
@media (max-width:740px){
#nav .header-buttons{margin:0;padding:3px 5px}
#nav{padding-bottom:0;flex-wrap:wrap;align-items:center}
#nav{justify-content:space-around}
#nav .spacer{display:none}
#nav .header-buttons .btn,#nav .header-buttons .btn-alt{padding:10px}
[data-embed] .close,[data-vimeo] .close{min-width:53px}
.smile .use-banner article{width:100%}
.smile .use-banner article .fluid-vid{width:100%!important}
.copy span:last-of-type{display:block;font-size:0}
.smile .use-banner figure .big{font-size:80px}
.smile .content .call{display:block;text-align:center;padding-bottom:5px}
.smile .content .call article{font-size:30px;line-height:1.2}
.smile .content .call article p{margin:15px auto;text-align:center;line-height:1.3}
footer h2{font-size:42px}
footer .split>div{margin-top:0}
footer article{margin-bottom:30px}
footer h2{font-size:40px;margin-top:0;padding:0 10px}
footer article{padding-top:20px}
footer article p{font-size:32px;margin-top:5px}
footer .frame{display:none}
.frame{max-width:98%;margin:auto}
figcaption{margin-top:0}
.copy{padding:30px 10px 20px}
.smile .use-banner article .fluid-vid{width:500px!important}
.smile .use-banner{margin:10px auto}
.smile .use-banner article{margin-top:10px;margin-bottom:20px}
.bg-1{padding:10px}
.mobile-bg h1{font-size:82px;margin:25px auto}
}
@media (max-width:590px){
#nav{justify-content:center}
#nav .logo img{max-width:85px;margin:0 auto}
h1 span{font-size:60px;margin:10px auto}
h1{font-size:38px}
h2{margin-top:20px;font-size:50px}
.factors h2{font-size:42px}
#services-custom{padding:0}
.smile .content .call article p{font-size:40px}
.upper-form form{flex-direction:column}
.services ul li,main ul li{text-align:center}
.services ul{max-width:270px;margin:0 auto}
#map,.map{display:none}
#fixed-tabs .map{display:block}
#landing-page-form h1{font-size:40px}
footer #contact{padding:20px 10px}
footer .flex-ed{display:block}
#contact{display:none}
.copy{padding:10px 10px 25px}
.copy span:last-of-type{display:block;font-size:1px;visibility:hidden}
.smile .use-banner article .fluid-vid{width:400px!important}
.double-list .flex-ed .option-list h2{font-size:40px}
}
@media (max-width:500px){
.use-it-top-image div figcaption{font-size:14px}
.double-list .flex-ed .option-list .list-body ul li{margin:10px auto;font-size:20px;padding-left:30px}
#nav{gap:10px}
}
@media (max-width:430px){
.split article .btn{margin-bottom:20px;min-width:auto}
#team figure{display:table}
#services h3{margin-top:10px}
.copy{padding-bottom:20px;font-size:14px}
.copy a,.copy p{font-size:14px}
#fixed-tabs a{font-size:15px}
.services .flex-ed img{max-width:200px}
.smile .use-banner article div figcaption span{padding:5px}
.smile .use-banner article .fluid-vid{width:300px!important}
.double-list .flex-ed .option-list .list-body ul li{margin:10px auto;font-size:17px;padding-left:20px}
.double-list .flex-ed .option-list{margin:15px auto}
.smile .form form{padding:50px 10px}
footer article .phone{font-size:33px}
}
@media (max-width:370px){
#nav{height:173px}
#nav .btn{margin:10px auto}
.use-it-top-image div figcaption span{padding:10px 20px}
.double-list .flex-ed .option-list .list-body .list-bkg{display:none}
footer article .phone{font-size:33px}
}
#mobile-btns{width:100%;display:flex;gap:0}
#mobile-btns>*{flex:1}
#mobile-btns .btn{display:flex;flex-wrap:wrap;padding:10px;justify-content:center;border-radius:0;font-size:16px;min-width:auto;font-family:neue-haas-grotesk-text,sans-serif;text-transform:uppercase;background-color:#223853}
#mobile-btns .btn span{width:100%;font-size:28px}
#mobile-btns .btn,#mobile-btns .phone{display:flex;flex-wrap:wrap;justify-content:center;align-content:center;height:70px}
#mobile-btns .btn span,#mobile-btns .phone span{width:100%;text-align:center}
#mobile-btns .phone{background-color:#26b0a5;color:#fff;font-size:20px;line-height:1.3}
#mobile-btns .phone span{text-transform:uppercase;font-size:16px;font-weight:700;letter-spacing:1px;color:#fff}